/*

!.gitignore
!README.md
!LICENSE
!pom.xml

!library/
library/*
!library/src/
!library/res/
!library/libs/
!library/AndroidManifest.xml
!library/build.xml
!library/project.properties
!library/pom.xml

!samples/
samples/*
!samples/src/
!samples/res/
!samples/AndroidManifest.xml
!samples/build.xml
!samples/project.properties
!samples/pom.xml
