/*

!.gitignore
!README.md
!LICENSE
!pom.xml
!build.gradle
!settings.gradle
!gradlew

!library/
library/*
!library/src/
!library/res/
!library/libs/
!library/AndroidManifest.xml
!library/build.xml
!library/project.properties
!library/pom.xml
!library/build.gradle
!library/gradlew

!samples/
samples/*
!samples/src/
!samples/res/
!samples/AndroidManifest.xml
!samples/build.xml
!samples/project.properties
!samples/pom.xml
!samples.build.gradle
!samples/gradlew
